<!--
    ioBroker.vis meteoalarm Widget-Set

    Copyright 2022 blacksonj blacksonj7@gmail.com
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/meteoalarm/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/meteoalarm/js/meteoalarm.js"></script>

<script id="tplmeteoAlarmWidget"
        type="text/ejs"
        class="vis-tpl"
		data-vis-prev='<img style="display: block;margin-left: auto;margin-right: auto;width: 50%;" src="widgets/rssfeed/img/rssfeed-vis.png"></img>'
        data-vis-attrs="meteo_Loc[meteoalarm.0.location]/id;"
        data-vis-attrs0="group.showElements;
                        show_Loc/checkbox;"
        data-vis-set="meteoalarm"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-update-style="true"
        data-vis-name="Meteoalarm Widget">
        <div class="vis-widget <%== this.data.attr('class') %>" style="width:230px; height:210px;" id="<%= this.data.attr('wid') %>" >
            <div class="meteoalarm-class vis-widget-body <%== this.data.attr('class') %>" style="padding:2px" >
                <% vis.binds['meteoalarm'].createWidget(this.data.wid, this.view, this.data, this.style); %>
            </div>
        </div>
</script>

